.banner {

  background: url('../imagenes/banner_libroblanco.png') center;

}

.tarjeta > ul > li > p {
  font-size: 1.2rem;
  line-height: 0;
  padding: 1rem .75rem;
  color: #000000;
  text-align: center;
  
}

.banner > img {
  width: 40%;
}
