.banner {

  background-image: none !important;

}

.tarjeta > ul > li > p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #000000;
  text-align: center;
}

.banner > img {
  width: 40%;
}